/* src/styles/global.css */
@import url("https://googleapis.com");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep all your premium design rules below this line */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
